Appearances Table 

Summary:

    This table contains 1,706,806 rows for individual players appearances in each game. It tracks counts for goals, assists, red cards, yellow cards and minutes played. 

Insights:
    
    Minutes played could be interesting to explore along with our focus on club transfers and player value. We could calculate:
    combined goals and assists
    goals scored per 90 min
    total minutes played per season

    In terms of tranfers, these stats could be useful to determine output gained. 
    In the case of player values, we could calculate them to determine expected output.


Cleaning tasks:

convert date column to datetime
remove 6 null player_name entries

There are no duplicates.
Column names are lower-case and one string connected by '_' and no spaces

In [2]:
import pandas as pd
#read csv into dataframe
appearances_df = pd.read_csv('../data/raw/appearances.csv')
#prints first 10 rows
appearances_df.head(10)
#prints last 10 rows
#appearances_df.tail(10)

,appearance_id,game_id,player_id,player_club_id,player_current_club_id,date,player_name,competition_id,yellow_cards,red_cards,goals,assists,minutes_played
0,2231978_38004,2231978,38004,853,235,2012-07-03,Aurélien Joachim,CLQ,0,0,2,0,90
1,2233748_79232,2233748,79232,8841,2698,2012-07-05,Ruslan Abyshov,ELQ,0,0,0,0,90
2,2234413_42792,2234413,42792,6251,465,2012-07-05,Sander Puri,ELQ,0,0,0,0,45
3,2234418_73333,2234418,73333,1274,6646,2012-07-05,Vegar Hedenstad,ELQ,0,0,0,0,90
4,2234421_122011,2234421,122011,195,3008,2012-07-05,Markus Henriksen,ELQ,0,0,0,1,90
5,2234421_146889,2234421,146889,195,2778,2012-07-05,Peter Ankersen,ELQ,1,0,0,0,90
6,2235539_28716,2235539,28716,282,7185,2012-07-05,Adi Adilovic,ELQ,0,0,0,0,90
7,2235539_69445,2235539,69445,282,19771,2012-07-05,Ivan Sesar,ELQ,1,0,0,1,90
8,2235545_19409,2235545,19409,317,200,2012-07-05,Willem Janssen,ELQ,0,0,0,0,45
9,2235545_30003,2235545,30003,317,317,2012-07-05,Wout Brama,ELQ,0,0,0,0,90

In [3]:
appearances_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1706806 entries, 0 to 1706805
Data columns (total 13 columns):
 #   Column                  Dtype
---  ------                  -----
 0   appearance_id           object
 1   game_id                 int64
 2   player_id               int64
 3   player_club_id          int64
 4   player_current_club_id  int64
 5   date                    object
 6   player_name             object
 7   competition_id          object
 8   yellow_cards            int64
 9   red_cards               int64
 10  goals                   int64
 11  assists                 int64
 12  minutes_played          int64
dtypes: int64(9), object(4)
memory usage: 169.3+ MB

In [4]:
appearances_df.describe().round(3)

,game_id,player_id,player_club_id,player_current_club_id,yellow_cards,red_cards,goals,assists,minutes_played
count,1706806.000,1706806.000,1706806.000,1706806.000,1706806.000,1706806.000,1706806.000,1706806.000,1706806.000
mean,3166096.011,209974.549,3138.290,3991.235,0.147,0.004,0.096,0.075,69.061
std,665119.621,194400.814,8315.815,10847.057,0.365,0.061,0.331,0.286,29.993
min,2211607.000,10.000,1.000,-1.000,0.000,0.000,0.000,0.000,1.000
25%,2589007.250,58402.000,289.000,331.000,0.000,0.000,0.000,0.000,45.000
50%,3080787.000,149577.000,826.000,903.000,0.000,0.000,0.000,0.000,90.000
75%,3621597.000,306668.000,2441.000,2696.000,0.000,0.000,0.000,0.000,90.000
max,4572898.000,1380876.000,110302.000,110302.000,2.000,1.000,6.000,6.000,148.000

In [6]:
appearances_df.isnull().sum()
# null_df = appearances_df[appearances_df.isnull().any(axis=1)]
# null_df

appearance_id             0
game_id                   0
player_id                 0
player_club_id            0
player_current_club_id    0
date                      0
player_name               6
competition_id            0
yellow_cards              0
red_cards                 0
goals                     0
assists                   0
minutes_played            0
dtype: int64

In [7]:
appearances_df.duplicated().sum()

np.int64(0)