Players Table

Summary:

This table contains 32601 rows of player data containg their name, last season, current club, country and city of birth as well as citizenship. It also contains a player's height. dominate foot, agent, contract length and more.

Insights:

Cleaning Tasks:

handle 2062 missing first name
change date_of_birth to datetime
fill null in country_of_birth with "unavailable"
fill null in city_of_birth with "unavailable"
fill null in country_of_citizenship with "unavailable"
fill null in sub-position with "none"
fill null in foot with "unavailable"
fill null in contract_expiration_date with empty datetime
fill null in agent_name with 'unavailable'
fill null in market_value_in_eur with 0
fill null in highest_market_value in eur with 0

In [2]:
import pandas as pd
players_df = pd.read_csv('../data/raw/players.csv')
players_df.head()

,player_id,first_name,last_name,name,last_season,current_club_id,player_code,country_of_birth,city_of_birth,country_of_citizenship,...,foot,height_in_cm,contract_expiration_date,agent_name,image_url,url,current_club_domestic_competition_id,current_club_name,market_value_in_eur,highest_market_value_in_eur
0,10,Miroslav,Klose,Miroslav Klose,2015,398,miroslav-klose,Poland,Opole,Germany,...,right,184.0,NaN,ASBW Sport Marketing,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/miroslav-klose...,IT1,Società Sportiva Lazio S.p.A.,1000000.0,30000000.0
1,26,Roman,Weidenfeller,Roman Weidenfeller,2017,16,roman-weidenfeller,Germany,Diez,Germany,...,left,190.0,NaN,Neubauer 13 GmbH,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/roman-weidenfe...,L1,Borussia Dortmund,750000.0,8000000.0
2,65,Dimitar,Berbatov,Dimitar Berbatov,2015,1091,dimitar-berbatov,Bulgaria,Blagoevgrad,Bulgaria,...,NaN,NaN,NaN,CSKA-AS-23 Ltd.,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/dimitar-berbat...,GR1,Panthessalonikios Athlitikos Omilos Konstantin...,1000000.0,34500000.0
3,77,NaN,Lúcio,Lúcio,2012,506,lucio,Brazil,Brasília,Brazil,...,NaN,NaN,NaN,NaN,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/lucio/profil/s...,IT1,Juventus Football Club,200000.0,24500000.0
4,80,Tom,Starke,Tom Starke,2017,27,tom-starke,East Germany (GDR),Freital,Germany,...,right,194.0,NaN,IFM,https://img.a.transfermarkt.technology/portrai...,https://www.transfermarkt.co.uk/tom-starke/pro...,L1,FC Bayern München,100000.0,3000000.0

In [2]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32601 entries, 0 to 32600
Data columns (total 23 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   player_id                             32601 non-null  int64
 1   first_name                            30539 non-null  object
 2   last_name                             32601 non-null  object
 3   name                                  32601 non-null  object
 4   last_season                           32601 non-null  int64
 5   current_club_id                       32601 non-null  int64
 6   player_code                           32601 non-null  object
 7   country_of_birth                      29802 non-null  object
 8   city_of_birth                         30146 non-null  object
 9   country_of_citizenship                32218 non-null  object
 10  date_of_birth                         32554 non-null  object
 11  sub_position                          32421 non-null  object
 12  position                              32601 non-null  object
 13  foot                                  30065 non-null  object
 14  height_in_cm                          30345 non-null  float64
 15  contract_expiration_date              20510 non-null  object
 16  agent_name                            16582 non-null  object
 17  image_url                             32601 non-null  object
 18  url                                   32601 non-null  object
 19  current_club_domestic_competition_id  32601 non-null  object
 20  current_club_name                     32601 non-null  object
 21  market_value_in_eur                   31078 non-null  float64
 22  highest_market_value_in_eur           31078 non-null  float64
dtypes: float64(3), int64(3), object(17)
memory usage: 5.7+ MB

In [3]:
players_df.describe().round(3)

,player_id,last_season,current_club_id,height_in_cm,market_value_in_eur,highest_market_value_in_eur
count,32601.000,32601.000,32601.000,30345.000,3.107800e+04,3.107800e+04
mean,348312.635,2019.357,4815.496,182.292,1.639685e+06,3.789347e+06
std,284508.918,3.962,11583.708,7.037,6.407293e+06,9.887241e+06
min,10.000,2012.000,3.000,17.000,1.000000e+04,1.000000e+04
25%,107973.000,2016.000,403.000,178.000,1.000000e+05,2.750000e+05
50%,283917.000,2020.000,1063.000,183.000,2.500000e+05,8.000000e+05
75%,530223.000,2023.000,3060.000,187.000,7.000000e+05,3.000000e+06
max,1391239.000,2024.000,110302.000,210.000,2.000000e+08,2.000000e+08

In [5]:
players_df.isnull().sum()

player_id                                   0
first_name                               2062
last_name                                   0
name                                        0
last_season                                 0
current_club_id                             0
player_code                                 0
country_of_birth                         2799
city_of_birth                            2455
country_of_citizenship                    383
date_of_birth                              47
sub_position                              180
position                                    0
foot                                     2536
height_in_cm                             2256
contract_expiration_date                12091
agent_name                              16019
image_url                                   0
url                                         0
current_club_domestic_competition_id        0
current_club_name                           0
market_value_in_eur                      1523
highest_market_value_in_eur              1523
dtype: int64

In [7]:
players_df.duplicated().sum()

np.int64(0)

In [3]:
players_df['date_of_birth']

0        1978-06-09 00:00:00
1        1980-08-06 00:00:00
2        1981-01-30 00:00:00
3        1978-05-08 00:00:00
4        1981-03-18 00:00:00
                ...
32596    2003-08-23 00:00:00
32597    2006-09-19 00:00:00
32598    2007-02-19 00:00:00
32599    2007-01-02 00:00:00
32600    2005-12-29 00:00:00
Name: date_of_birth, Length: 32601, dtype: object